@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Pirata+One&family=Rye&family=Special+Elite&family=UnifrakturCook:wght@700&display=swap");

.cinzel {
  font-family: "Cinzel Decorative", serif;
}

.unifraktur {
  font-family: "UnifrakturCook", cursive;
}

.pirata {
  font-family: "Pirata One", serif;
}

.rye {
  font-family: "Rye", cursive;
}

.specialElite {
  font-family: "Special Elite", monospace;
}
